vendor/etc/dts/dts-eagle.lic
system/system/priv-app/Velvet/Velvet.apk
system/system/priv-app/GameModeLiveWallpaper/GameModeLiveWallpaper.apk
system/system/priv-app/GmsCore/GmsCore.apk
system/system/app/Chrome/Chrome.apk
