system/system/app/ROGCNweixin/ROGCNweixin.apk
system/system/app/WebViewGoogle/WebViewGoogle.apk
system/system/app/ROGCNmobileqq/ROGCNmobileqq.apk
system/system/priv-app/GameModeLiveWallpaper/GameModeLiveWallpaper.apk
system/system/priv-app/GmsCore/GmsCore.apk
vendor/etc/dts/dts-eagle.lic
